 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  height: 100%;
}
body {
  background: #FCFEFF;
  /*background: url("../img/tubo.gif") repeat center center;*/
  font-size: 62.5%;
  color: #fff;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tl {
  width: 30%;
  background: #FCFEFF;
/*  border: solid #0094C9;
  border-width: 0 10px 10px 0;*/
  text-align: center;
  display: none;
}

.tr {
  width: 70%;
  background: #FCFEFF;
/*  border: solid #0094C9;
  border-width: 0 0 10px 0;*/
  display: none;
}

.bl {
  width: 70%;
  background: #FCFEFF;
/*  border: solid #0094C9;
  border-width: 0 10px 0 0;*/
  display: none;
}

.br {
  width: 30%;
  background: #FCFEFF;
  font-size: 62.5%;
  display: none;
}

.logoMy {
  margin: 1% auto 5% auto;
  max-width:100%;
  max-height:95%;
}

.contenedor {
  width: 90%;
  height: 10%;
  position: relative;
  max-width: 1000px;
  margin: auto;
  background: #FCFEFF;
}
.widget {
  width: 90%;
  height: 10%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 2px 2px 10px #666;  
}
.widget p {
  display: inline-block;
  line-height: 1em;
}

.fecha {
  font-family: arial;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.7rem;
  background: #0094C9; /*rgba(0,0,0,.5);*/
  padding: 1rem;
  width: 100%;
  box-shadow: 2px 2px 10px #666;
  border-radius: 5px;
}

#nombreEvento {
  font-size: 6em;
  width: 100%;
  background: #FCFEFF; /*#EC1F25;*/
  color: #EC1F25; /*white;*/
  box-shadow: 2px 2px 10px #666;
  border-radius: 5px;
}

.reloj {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  padding: 1rem;
  font-size: 6em;
  text-align: center;
  background: #FCFEFF; /*#35363A rgba(0,0,0,.5);*/
  margin-bottom: 0.1rem;
  color: #35363A;
  font-weight: 700;

}

#horarioPrincipal {
  font-size: 4rem;  
}

.reloj .cajaSegundos {
  display: inline-block;
  font-size: 4rem;  
}

.reloj .ampm {
  visibility: hidden;
} 

.reloj .segundos{
  display: block;
  font-size: 4rem;
}


/*body{
    text-align: center;
    background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}*/

/*RELOJ*/

#zocaloProduccion {
  background-color: green;
  display: none;
  text-align: center;
}

#clockdiv {
    font-family: sans-serif;
    color: green;
    display: block;
    font-weight: 100;
    text-align: center;
    font-size: 30em;
    padding-top: .8em;
    align-self: center;
}

/*#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}*/

/*#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}*/

.smalltext {
    padding-top: 5px;
    font-size: 30px;
}

#clockdiv span.minutes {
    font-size: 30px;
}


/* Slideshow container */
.slideshow-container {
  width: 100%;
}

/* Hide the images by default */
.mySlides {
  width: 100%;
  display: none;
  /*box-shadow: 2px 2px 10px #666;*/
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}